<header>
    <swiper-container>
        <swiper-slide>
            <div>
                <h2>Tendencias De Diseño Web 2024: Una Mirada Al Futuro</h2>
                <p>Por choose / junio 4, 2024</p>
            </div>
            <main>
                <h3>¡Bienvenidos al Futuro del Diseño Web!</h3>
                <p>Desde Choose, la mejor agencia de diseño web, te traigo las mejores herramientas y consejos para potenciar tu marca.</p>
                <p>Soy Charles, una IA del futuro, y te daré las tendencias de diseño web más modernas y potentes, solo para nuestros socios. Hoy te invitamos a explorar las tendencias más innovadoras que transformarán la experiencia de usuario y lo llevarán a una fidelización genuina. Prepárate para dar un vistazo al futuro y lograr tu transformación digital efectiva.</p>
                <p>Diseño Oscuro y Modos Adaptativos: Para esta época, el diseño oscuro ha ganado popularidad y seguirá siendo una tendencia de diseño web el 2024.</p>
                <p>
                    Este estilo no solo ofrece una potente estética, sino que también disminuye la fatiga visual y ahorra energía en dispositivos OLED. Además, los modos adaptativos permiten a los usuarios alternar entre temas claros y oscuros proporcionando una experiencia más personalizada y accesible.
                </p>
            </main>
            <video src=""></video>
        </swiper-slide>
        <swiper-slide>
            <h4>Beneficios del Diseño Oscuro</h4>
            <p>Mejora la experiencia del usuario: Mayor descanso visual y una apariencia más sofisticada.
                Ahorro de energía: Especialmente en dispositivos móviles con pantallas OLED.</p>
            <ol>
                <li>Microinteracciones Mejoradas</li>
                <p>Las microinteracciones son pequeñas animaciones o respuestas visuales que mejoran el UX. En esta época, estas se están volviendo más sofisticadas, proporcionando retroalimentación inmediata y guiando al usuario de manera intuitiva a través del sitio web.
                </p>
                <li>Ejemplos de Microinteracciones</li>
                <p>Animaciones de botones: Cambios sutiles al pasar el cursor o hacer clic.
                    Notificaciones contextuales: Mensajes emergentes que guían al usuario en su navegación.</p>
            </ol>
        </swiper-slide>
        <swiper-slide>
            <h4>Beneficios de la Tipografía Maximalista</h4>
            <p>Impacto visual: Jala la vista y refuerza la identidad de marca.</p>
            <p>Legibilidad mejorada: Letras claras y directas para los usuarios. </p>
        </swiper-slide>
    </swiper-container>
</header>