ul,li,nav{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
nav ul {
    position: absolute;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-feature-settings: 20;
}
li{
    height: 100%;
}
a{  
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 2px #bdbdbd;
    transition: 500ms;
}
a:hover {
    background-color: #000;
    color: #fff;
}


a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 80%; 
    height: 2px; 
    background-color: white;
    transform: scaleX(0) translateX(-50%) translateY(-10px); 
    transition: transform 200ms; 
}

a:hover::after {
    transform: scaleX(1) translateX(-50%) translateY(-10px); 
}
header{
    background-image: url("/choosepanel.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.titulo-2{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
    color: white;
    text-shadow: 2px 2px 2px #000;
    top: 30%;
    margin: 5vh 5%;
}
